body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}
.navbarContainer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.phoneContent {
  display: none;
  text-align: center;
}
.navCompanyName {
  color: #105fa8;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0;
  /* width: 100%; */
}

.navbarContainer {
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
}

.container1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #5d5d5d;
  letter-spacing: 0.02em;
  /* padding: 2rem 0rem 2rem 2rem; */
  padding: 1rem;
}
p,li{
  color: #5d5d5d
}

.videoContainer {
  /* width: 50vw; */
  /* text-align: center; */
  margin: 0 auto;
}
.heroContainer{
    display: flex;
    flex-direction: column; /* Items will be in a row */
    justify-content: space-around; /* Items will be at the start and end of the container */
    /* align-items: center; Vertically center items */
}
.tab{
    /* background: linear-gradient(135deg, #003866, #005e8c); */
    color: #fff;
    margin: 0 auto;
    height: 100%;
    /* width: 80%; */
    /* text-align: center; */
}
.nextButton ,.buttonContainer,.nextContainer{
    /* background: linear-gradient(135deg, #003866, #005e8c); */
    background-color: inherit;
}
.nextButton{
  border: 2px solid #fff;
  border-radius: 2px;

}
.nextContainer{
  width: 80%;
  margin: auto;
  text-align: center;
}
.Form{
    margin: auto;
    padding-bottom: 10px;
}
.formContainer{
    /* margin: auto 0px; */
    /* height: 100%; */
    width: 100%;
    background: linear-gradient(135deg, #003866, #005e8c);

    /* padding-right: 1rem; */
}
button:focus {outline:0;}
.desContainer{
    margin: 0px 0px 0px 2rem;
}
.desIcon {
    width: 1.8rem;
    display: inline;
}
.gap-3{
  gap: 0.8rem;
}
h3{
  /* margin: 0 0 1.6rem; */
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #444;
}
.footerContainer{
  margin-top: 2rem;
  background-color: #5d5d5d;
}
.intrested{
  text-align: center;
}
.CompanyLogo{
  margin: 0px;
  padding: 0;
}
.topper{
  background-color: #DFF5FF;
  padding: 8px 0px 6px 2`0px;
  cursor: pointer;
  
}
.companyText {
  color: #2d3269;
  text-align: justify;
  margin-top: auto;
  font-family: "EB Garamond", serif;
  font-size: 25px;
  letter-spacing: 1px;
}
.imageContainer{
  width: 50px;
}
@media only screen and (min-width: 700px) {
  .phoneContent {
    display: block;
  }
}
@media only screen and (max-width: 769px) {
  .formContainer{
    margin: 5px;
    border-radius: 6px;
    width: 90%;
    margin: auto;

  }
}
@media only screen and (min-width: 768px) {
    .heroContainer {
      flex-direction: row;
    }
    .videoContainer{
        margin: 0px;
        width: 50vw;
    }
    .formContainer{
    padding-right: 1rem;
    margin-right: 15px;
    /* height: 33rem; */
    
    background: linear-gradient(135deg, #003866, #005e8c);
    }
    .Form{
    margin: 60px auto;
    padding-bottom: 10px;
    }
    .desContainer{
    margin: 0px 0px 0px 8rem;
    max-width: 60vw;
    }
    .heroContainer{
      padding: 0rem 0rem 2rem 2rem;
    }
    .tab{
    width: 80%;
    }
  }