* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.wrapper{
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;

}

.firstContainer{
    width: 80%;
    text-align: center;
}

.imageContainer{
  width: 150px;
  margin: 0rem 0rem 4rem 10rem;
  padding-top: 3rem;
}

.comapanyLogo{
  width: 100%;
}

.footerContainer{
    background-color: #636363;
}

.footerInternalContainer{
    display: flex;
    justify-content: space-between;
    
}
.FormContainer{
    color: black
}


.bigText{
    color: white;

}

.bigText2{
  padding: 1rem 0rem;
  color: #ef5b26;
  font-size: xxx-large;

}



/* New CSS */
/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }


.hiddenInput{
  display: none;
}